# Data Cleaning and Pre-processing

 We will be first checking for basic discrepancies in the data like --
 
       1.Missing Data 
       2. Reasons for missing data 
       3.Dropping or filling missing values 
       4. Data types 
       5.Outlier problems etc

In [16]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

## Reading the data into the notebook

In [17]:
book_tags = pd.read_csv("/Users/sharathg/Desktop/DataSets/goodbooks-10k/book_tags.csv")
books = pd.read_csv('/Users/sharathg/Desktop/DataSets/goodbooks-10k/books.csv')
Uni_usr_rtg = pd.read_csv('/Users/sharathg/Desktop/DataSets/goodbooks-10k/Uni_Usr_rtg')
Uni_avg_rtg = pd.read_csv('/Users/sharathg/Desktop/DataSets/goodbooks-10k/Uniq_Avg_rtg')
tags_books =pd.read_csv("/Users/sharathg/Desktop/DataSets/goodbooks-10k/tags.csv")
to_read = pd.read_csv("/Users/sharathg/Desktop/DataSets/goodbooks-10k/to_read.csv")

In [18]:
to_read.head()

   user_id  book_id
0        1      112
1        1      235
2        1      533
3        1     1198
4        1     1874

In [21]:
book_tags.sample(5)

        goodreads_book_id  tag_id  count
896345           17573684   32686      6
877575           16182601   22333      4
954969           22609080   30521     30
545821             715791   18045     43
532966             592657   20939      7

In [73]:
tags_books.tag_name.unique()

AttributeError: 'numpy.ndarray' object has no attribute 'count'

In [22]:
books.head(5)

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [23]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 23 columns):
id                           10000 non-null int64
book_id                      10000 non-null int64
best_book_id                 10000 non-null int64
work_id                      10000 non-null int64
books_count                  10000 non-null int64
isbn                         9300 non-null object
isbn13                       9415 non-null float64
authors                      10000 non-null object
original_publication_year    9979 non-null float64
original_title               9415 non-null object
title                        10000 non-null object
language_code                8916 non-null object
average_rating               10000 non-null float64
ratings_count                10000 non-null int64
work_ratings_count           10000 non-null int64
work_text_reviews_count      10000 non-null int64
ratings_1                    10000 non-null int64
ratings_2                    10000 non-null int64
ratings_3                    10000 non-null int64
ratings_4                    10000 non-null int64
ratings_5                    10000 non-null int64
image_url                    10000 non-null object
small_image_url              10000 non-null object
dtypes: float64(3), int64(13), object(7)
memory usage: 1.8+ MB

In [24]:
Uni_usr_rtg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 981756 entries, 1 to 981756
Data columns (total 4 columns):
user_id             981756 non-null int64
book_id             981756 non-null int64
rating              981756 non-null int64
avg_rtng_by_user    981756 non-null float64
dtypes: float64(1), int64(3)
memory usage: 37.5 MB

In [26]:
Uni_avg_rtg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 1 to 10000
Data columns (total 2 columns):
book_id               10000 non-null int64
avg_rating_on_book    10000 non-null float64
dtypes: float64(1), int64(1)
memory usage: 234.4 KB

AttributeError: 'NoneType' object has no attribute 'head'

In [27]:
Uni_avg_rtg .sample(5)

      book_id  avg_rating_on_book
907       907                3.85
5770     5770                4.00
7832     7832                4.27
8282     8282                4.14
6053     6053                3.64

## Books dataframe analysis

In [42]:
books.isnull().sum()

id                              0
book_id                         0
best_book_id                    0
work_id                         0
books_count                     0
isbn                          700
isbn13                        585
authors                         0
original_publication_year      21
original_title                585
title                           0
language_code                1084
average_rating                  0
ratings_count                   0
work_ratings_count              0
work_text_reviews_count         0
ratings_1                       0
ratings_2                       0
ratings_3                       0
ratings_4                       0
ratings_5                       0
image_url                       0
small_image_url                 0
dtype: int64

In [35]:
##percentage of data that is missing is --
#total cells in the dataframe. 
total_cells = np.product(np.shape(books))
t = total_cells

In [36]:
#total null or missing values in the data 
k = np.sum(books.isnull().sum())

In [39]:
##percentage of data that is missing is 
miss = (k/t )*100
miss

1.2934782608695652

This shows that the dataset is pretty accurate , and not many missing values are there .

In [4]:
book_tags.head(4)

   goodreads_book_id  tag_id   count
0                  1   30574  167697
1                  1   11305   37174
2                  1   11557   34173
3                  1    8717   12986

In [12]:
books.shape

(10000, 23)

In [43]:
books.sample(10)

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
6174,6175,8951,8951,3214277,49,316016659,9.780316e+12,Darren Shan,2002.0,"The Lake of Souls (Cirque Du Freak, #10)",...,16803,18281,405,188,796,3094,5525,8678,https://images.gr-assets.com/books/1255988654m...,https://images.gr-assets.com/books/1255988654s...
7849,7850,363973,363973,1287577,26,64431835,9.780064e+12,"Linda Williams, Megan Lloyd",1986.0,The Little Old Lady Who Was Not Afraid of Anyt...,...,14270,14534,468,139,461,2505,3984,7445,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...
9270,9271,6433344,6433344,6622835,7,800733428,9.780801e+12,Janice Thompson,2009.0,"Fools Rush In (Weddings by Bella, #1)",...,8692,11535,923,605,1289,3349,3302,2990,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...
164,165,13497,13497,1019062,176,055358202X,9.780554e+12,George R.R. Martin,2005.0,A Feast for Crows,...,428186,481130,18876,3170,18574,94401,175973,189012,https://images.gr-assets.com/books/1429538615m...,https://images.gr-assets.com/books/1429538615s...
2442,2443,17158596,17158596,23582083,36,NaN,NaN,Gail McHugh,2013.0,Collide,...,55720,58679,4562,1204,2220,7627,18053,29575,https://images.gr-assets.com/books/1359831056m...,https://images.gr-assets.com/books/1359831056s...
4225,4226,14288998,14288998,19928978,35,62072099,9.780062e+12,Veronica Rossi,2014.0,Into the Still Blue,...,33983,37218,3532,472,1199,5929,13613,16005,https://images.gr-assets.com/books/1417467183m...,https://images.gr-assets.com/books/1417467183s...
1821,1822,12615008,12615008,17635020,20,8129118807,9.788129e+12,Chetan Bhagat,2011.0,"Revolution 2020: Love, Corruption, Ambition",...,42845,44470,1656,5263,9285,13415,9928,6579,https://images.gr-assets.com/books/1317964666m...,https://images.gr-assets.com/books/1317964666s...
6490,6491,29340182,29340182,46238704,18,316348406,9.780316e+12,Lindy West,2016.0,"Shrill: Women Are Funny, It's Okay to Be Fat, ...",...,15258,17946,2780,169,480,2297,7051,7949,https://images.gr-assets.com/books/1460015959m...,https://images.gr-assets.com/books/1460015959s...
7087,7088,1605034,1605034,1598345,45,375424482,9.780375e+12,Alexander McCall Smith,2008.0,The Miracle at Speedy Motors,...,16887,18599,1200,33,316,3657,8582,6011,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...
2596,2597,10065,10065,551030,30,380731509,9.780381e+12,"Louis Sachar, Joel Schick",1989.0,Wayside School is Falling Down,...,45631,46884,765,558,1595,8558,14675,21498,https://images.gr-assets.com/books/1405055796m...,https://images.gr-assets.com/books/1405055796s...

In [6]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 23 columns):
id                           10000 non-null int64
book_id                      10000 non-null int64
best_book_id                 10000 non-null int64
work_id                      10000 non-null int64
books_count                  10000 non-null int64
isbn                         9300 non-null object
isbn13                       9415 non-null float64
authors                      10000 non-null object
original_publication_year    9979 non-null float64
original_title               9415 non-null object
title                        10000 non-null object
language_code                8916 non-null object
average_rating               10000 non-null float64
ratings_count                10000 non-null int64
work_ratings_count           10000 non-null int64
work_text_reviews_count      10000 non-null int64
ratings_1                    10000 non-null int64
ratings_2                    10000 non-null int64
ratings_3                    10000 non-null int64
ratings_4                    10000 non-null int64
ratings_5                    10000 non-null int64
image_url                    10000 non-null object
small_image_url              10000 non-null object
dtypes: float64(3), int64(13), object(7)
memory usage: 1.8+ MB

From the info above we identify that the datatypes of some attributes need to be changed like --
    
    Atrribute       correct datatype  present datatype
    1. isbn            int                  object  
    2. isbn13          int                  float
    3.publication year int                  float 
  These will be fixed in the following steps .

In [50]:
books['language_code'].isnull().sum()

1084

Apparently one cannot change the dtype of an attribute with missing calues in it , so it needs to analysed and proper action needed to be taken like artificial imputation or dropping the row altogether .

0

In [60]:
books.sample(5)

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
2686,2687,6431790,6431790,6682611,40,316036196,9.780316e+12,James Patterson,2010.0,Fang,...,48964,51208,2533,1165,3214,9252,14779,22798,https://images.gr-assets.com/books/1344269411m...,https://images.gr-assets.com/books/1344269411s...
23,24,6,6,3046572,332,439139600,9.780439e+12,"J.K. Rowling, Mary GrandPré",2000.0,Harry Potter and the Goblet of Fire,...,1753043,1868642,31084,6676,20210,151785,494926,1195045,https://images.gr-assets.com/books/1361482611m...,https://images.gr-assets.com/books/1361482611s...
6685,6686,2197227,2197227,2262692,57,446580295,9.780447e+12,"Douglas Preston, Lincoln Child",2009.0,Cemetery Dance,...,16120,18494,1042,138,658,4051,7897,5750,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...
389,390,51496,51496,3164921,1974,451528956,9.780452e+12,"Robert Louis Stevenson, Vladimir Nabokov, Merv...",1886.0,The Strange Case of Dr Jekyll and Mr Hyde,...,223535,259652,7958,2939,16110,76470,100514,63619,https://images.gr-assets.com/books/1318116526m...,https://images.gr-assets.com/books/1318116526s...
5733,5734,142900,142900,1075684,34,60837055,9.780061e+12,Louise Erdrich,2003.0,The Master Butchers Singing Club,...,16821,18212,1486,213,692,3569,7727,6011,https://images.gr-assets.com/books/1410133209m...,https://images.gr-assets.com/books/1410133209s...

In [65]:
Uni_avg_rtg.sample(5)

      book_id  avg_rating_on_book
7812     7812              3.6100
9757     9757              4.4375
6686     6686              3.9900
4315     4315              4.3100
485       485              3.7900

In [66]:
Uni_usr_rtg.sample(5)

        user_id  book_id  rating  avg_rtng_by_user
124724     6601     2538       4          3.926829
470769    23918     1761       5          4.444444
210686    10659     4133       4          4.045455
442634    22384     3642       5          3.470588
17874      1084     3296       4          3.837838

In [67]:
books.language_code.unique()

array(['eng', 'en-US', 'en-CA', nan, 'spa', 'en-GB', 'fre', 'nl', 'ara',
       'por', 'ger', 'nor', 'jpn', 'en', 'vie', 'ind', 'pol', 'tur', 'dan',
       'fil', 'ita', 'per', 'swe', 'rum', 'mul', 'rus'], dtype=object)